<section class="section">
    <div class="container">
        <h1 class="title">
            {{article.title}}
        </h1>
        <p>{{article.content}}</p>
        <img src="{{article.image}}">
    </div>
</section>